<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java 2.3 Project Roby</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bundle.css}" type="text/css">
    <script defer th:src="@{/webjars/bootstrap/js/5.1.2/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bundle-editDeveloper.js}" defer></script></head>
<body>

<div th:insert="~{fragments/navbar::navbar}"></div>

<div class="container mb-3">

    <h2>Log in</h2>
    <form th:action="@{/login}" th:method="post" th:object="${loginInfo}">
        <div class="mb-3">
            <label for="username">Username</label>
            <input id="username" type="text" th:field="*{username}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            <input id="password" type="password" th:field="*{password}" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
</div>

</body>
</html>
