<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java 2.3 Project Roby</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bundle.css}" type="text/css">
    <script defer th:src="@{/webjars/bootstrap/js/5.1.2/bootstrap.bundle.min.js}"></script>
    <script defer th:src="@{/js/bundle-searchGame.js}"></script>
    <script th:src="@{/js/bundle-site.js}" defer></script>
</head>
<body>
    <div th:insert="~{fragments/navbar::navbar}"></div>

    <div class="container mb-3">
        <h2>Search for game</h2>
        <form>
            <div class="pb-3">
                <label for="name">Name</label>
                <input type="search" name="name" id="name" class="form-control">
            </div>
            <button type="button" class="btn btn-primary bi-search" id="searchButton">Search</button>
        </form>

        <table class="table table-hover mt-3" id="gamesTable" hidden>
            <thead class="table table-hover">
                <tr>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>Release date</th>
                </tr>
            </thead>
                <tbody id="tableBody">

                </tbody>
        </table>

        <div class="container mt-3" id="errorContainer">
            <div class="alert alert-danger" id="errorText" hidden></div>
        </div>
    </div>
</body>
</html>