@import '/node_modules/flatpickr/dist/flatpickr.min.css';

$table-header-color: #C4C4C4;
$table-hover-color: #DCDADA;

table{
    thead{
        background: $table-header-color;
    }
    tbody{
        td{
            &:hover{
                background: $table-hover-color;
            }
        }
    }
}

#addButton{
    width: 25%;
}
